<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Подробности заказа</title>
</head>
<body>
<h1>Подробности заказа</h1>
<hr>
<form th:method="get" th:action="@{/admin/orders_info}">
  <input type="submit" value="Назад к списку всех заказов">
</form>
  <h4 th:text="'Заказ №' + ${order.getNumber()}"></h4>
  <img th:src="'/img/' + ${order.getItem().getImageList()[0].getFileName()}" width="300px">
  <p th:text="'Наименование: ' + ${order.getItem().getTitle()}">
  <p th:text="'Количество: ' + ${order.getCount()}">
  <p th:text="'Цена: ' + ${order.getPrice()}">
  <p th:text="'Дата заказа: ' + ${#temporals.format(order.getDateTime(), 'dd-MMM-yyyy')}"></p>
  <p th:text="'Cтатус: ' + ${order.getOrderStatus()}">
  <hr style="color: limegreen">
</body>
</html>